<div class="hero-unit well well-large">
  <h1><b>Mission:</b> A united startup hub</h1>
</div>
<h4>
  Who we are
</h4>
<p>
  We are local founders that believe in building an accesible startup community. 
</p>
<h4>
  What we are trying to do
</h4>
<p>
  Promote Houston as a startup hub, and help founders find the resources they need within our community.
</p>
<h4>
  Why?
</h4>
<p>
  Because we love our city, and it has more startup resources than most Houstonians even realize.
</p>